<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="au.uq.dke.comon_rcp2.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="au.uq.dke.comon_rcp2.application.perspectives.DefaultPerspective"
            id="au.uq.dke.comon_rcp2.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Ontology Graph View"
            class="au.uq.dke.comon_rcp2.application.views.graph.OntologyGraphView"
            id="au.uq.dke.comon_rcp2.OntologyGraphView">
      </view>
      <view
            class="au.uq.dke.comon_rcp2.application.views.navigator.OntologyNavigator"
            id="au.uq.dke.comon_rcp2.ontologyNavigatorView"
            name="Ontology Navigator View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
 
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="right"
               id="au.uq.dke.comon_rcp2.OntologyGraphView">
         </view>
          <view
                id="au.uq.dke.comon_rcp2.ontologyNavigatorView"
                minimized="true"
                relationship="left"
                relative="org.eclipse.ui.editorss"
                standalone="true"
                visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <command
               commandId="org.eclipse.ui.window.preferences"
               label="preference"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="au.uq.dke.comon_rcp2.application"
            name="RCP Application">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="au.uq.dke.comon_rcp2.application.views.navigator.model.OntologyContentProvider"
            id="au.dke.comon_rcp2.ontologynavigatorcontent"
            labelProvider="au.uq.dke.comon_rcp2.application.views.navigator.model.LabelProvider"
            name="navigator">
         <triggerPoints>
            <instanceof
                  value="au.uq.dke.comon_rcp2.application.views.navigator.model.NavigatorRoot">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="au.uq.dke.comon_rcp2.ontologyNavigatorView">
      </viewer>
      <viewerContentBinding
            viewerId="au.uq.dke.comon_rcp2.ontologyNavigatorView">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="au.dke.comon_rcp2.ontologynavigatorcontent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="au.uq.dke.comon_rcp2.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="au.uq.dke.comon_rcp2.preferences.SamplePreferencePage"
            id="au.uq.dke.comon_rcp2.preferences.SamplePreferencePage"
            name="Sample Preferences">
      </page>
      <page
            class="au.uq.dke.comon_rcp2.preferences.GraphPreferencePage"
            id="au.uq.dke.comon_rcp2.prefrencepage.graph"
            name="Graph">
      </page>
   </extension>

</plugin>
